.home {
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem 2rem 4rem;
  position: fixed;
  z-index: 101;
  width: 100%;
  background-color: white;
}
.rooms_section {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */

  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  align-items: center;
  place-items: center;

  padding: 3rem;
  padding-top: 8rem;
}
.room-card {
  height: 420px;
  width: 310px;

  position: relative;
}
.room-card-image {
  width: 100%;
  height: 271px;
  border-radius: 10px;
}
.room-card-saved {
  position: relative;
  display: flex;
  justify-content: end;
  margin-left: -12px;
  margin-top: 12px;
  width: 100%;
  position: absolute;

  cursor: pointer;
}
.room-image-section {
  position: relative;
}
.arrows-container {
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
  align-items: center;

  cursor: auto;

  position: absolute;
  width: 100%;
  inset: 0;
  height: 30px;
  margin: auto;
}
.arrow-container {
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.9;

  cursor: pointer;
}
.arrow-container:hover {
  opacity: 1;
}

.search {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0, 5%);
  transition: box-shadow 0.2s ease;
}

.search input {
  background-color: transparent;
  border-radius: 4px;
  height: 48px;
  line-height: 18px;
  border: none;
  border-right: 1px solid #dddddd;
  text-align: center;
  font-weight: 600;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  text-align: center;
}

.search-button {
  all: unset;
  padding: 0px 15px 0px 10px;
  font-size: 20px;
  cursor: pointer;
}
.room {
  display: flex;
  justify-content: start;
  height: fit-content !important;
  height: fit-content !important;
}
.list {
  padding: 0px !important;
}
.room_image {
  width: 277px !important;
  height: 265px !important;
  object-fit: cover;

  border-radius: 2px;
}

@media screen and (min-width: 1480px) {
  .rooms_section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1500px) {
  .rooms_section {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 1000px) {
    .rooms_section {
      grid-template-columns: 1fr;
    }
  }
}

.room_description {
  display: flex;
  font-family: "Montserrat";

  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  padding-top: 1rem;
  padding-bottom: 0.2rem;
  justify-self: start;

  place-content: space-between;
  align-items: center;

  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;

  text-align: center;

  color: #828282;
}
.room_review {
  display: grid;
  grid-auto-flow: column;
  gap: 0.4rem;

  font-family: "Montserrat";
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  align-items: center;
  text-align: center;

  color: #4f4f4f;
}
.room_review_star {
  color: #000000;
}

.room_title {
  display: flex;
  justify-self: start;

  font-family: "Montserrat";
  font-style: normal;
  text-align: center;

  font-weight: 600;
  font-size: 16px;
  
  line-height: 20px;
  margin-left: 5rem;

  color: #333333;
}
.room {
  display: grid;
  padding: 1rem;
}
.rightArrow {
  position: relative;
  top: 0;
  right: 35px;
  font-size: 40px;

  z-index: 1;
  display: flex;
  color: #ffffff;

  justify-self: end;
  align-self: center;
  cursor: pointer;

  user-select: none;
}
.leftArrow {
  position: relative;
  top: 0;
  left: 35px;
  font-size: 40px;

  z-index: 1;
  display: flex;
  color: #ffffff;

  justify-self: start;
  align-self: center;
  cursor: pointer;

  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.list {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0rem 2rem;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.room_price {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;

  place-content: start;
  text-align: start;
  align-items: center;

  padding-top: 0.2rem;
}

.room_price span {
  font-family: "Montserrat";
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  color: #828282;
}
