.menu-pop-up {
  position: absolute;
  min-width: 240px;
  background-color: yellow;
  margin-top: 530%;
  margin-left: -176px;
  padding: 8px 0px;
  z-index: 400 !important;

  border-radius: 12px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.menu-pop-up > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-pop-up > div > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  height: 49px;
  width: 100%;

  font-family: Montserrat;
  color: #222222;
  font-size: 15px;
}
.menu-pop-up > div > div:hover {
  background-color: rgba(243, 243, 243, 0.742);
}
.menu-pop-up-top {
  font-weight: 600;
  border-bottom: 1.5px solid rgb(235, 235, 235);
  padding-bottom: 8px;
}
.menu-pop-up-bottom {
  padding-top: 8px;
  font-weight: 500;
}
