.profile-main {
  display: flex;
  justify-content: center;
  gap: 80px;

  padding-top: 130px;
}
.profile-main section {
  width: 680px;
  height: 100%;
}
.profile-main aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dddddd;
  border-radius: 12px;
  height: fit-content;
  width: 308px;
  max-width: 308px;
  padding: 24px;
}
.profile-page-image {
  width: 128px;
  height: 128px;
  border-radius: 50%;

  margin: auto;
}
.update-photo-p {
  margin-top: 7px;
  margin-bottom: 30px;

  text-align: center;

  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  text-decoration: underline;
  cursor: pointer;
}
.profile-main aside > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.profile-main aside h4 {
  font-family: Montserrat;
}
.verification-text {
  display: flex;
  justify-content: start;
  text-align: start;
  font-family: Poppins;
}
.get-the-badge {
  height: 48px;
  width: 157px;
  padding: 13px 24px;

  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;

  border: 1px solid #222222;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 30px;
}
.get-the-badge:hover {
  background-color: #eeeeeec7;
}
.profile-main-first-div {
  border-bottom: 1px solid rgb(235, 235, 235);
  margin-bottom: 30px;
}
.profile-main-second-div {
  margin-bottom: 30px;
}
.profile-main aside h3 {
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: 20px;
}
.confirmations {
  display: flex;
  align-items: center;
  gap: 7px;

  font-family: Poppins;
  font-size: 15px;
}
.update-image-form {
  display: flex;

  width: 100%;
  height: 30px;
  margin: 20px 0px;

  border: 1px solid #dddddd;
  border-radius: 5px;
}
.update-image-form button {
  font-family: Poppins;
  font-size: 15px;
  margin: 2px;
  padding: 0px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.update-image-form input {
  width: 100%;
  height: 100%;
  padding-left: 10px;

  border: none;
  border-radius: 5px;

  outline: none;
}
.profile-page-header {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  border-bottom: 1.5px solid rgb(235, 235, 235);
  background-color: white;
  z-index: 100;
}
.profile-page-header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
}
.profile-page-image-container {
  width: 100%;

  inset: 0;
  margin: auto;

  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
.profile-main > section > h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 30px;
}
.when-joined {
  font-size: 15px;
  font-family: sans-serif;
  color: #8e8e8e;
}
.reviews-section > header {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 60px;

  font-family: Montserrat;
  font-weight: 600;
  font-size: 25px;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-top: 30px;
}
.single-review-room-image {
  width: 70px;
  height: 48px;
  border-radius: 8px;
}
.single-review-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: sans-serif;
  font-weight: 600;
  font-size: 23px;
}
.review-content {
  margin-top: 15px;
  font-family: Poppins;
  color: #222222;
  max-height: 93px;
  word-wrap: break-word;
  overflow: hidden;

  text-overflow: ellipsis;
}
.review-author {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.review-author > div {
  font-family: Montserrat;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 10px;
}
.review-author-profile {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.reservations-section {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.reservations-section > header {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}
.reservations {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 100px;
}
.single-reservation-image {
  /* width: 200px; */
  max-width: 230px;
  border-radius: 10px;
  max-height: 170px;
}
.single-reservation {
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.single-reservation > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.single-reservation > div > h3 {
  font-family: Poppins;
  font-weight: 500;
  color: #222222;

  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.single-reservation > div > div {
  overflow: hidden;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #222222;
}
.single-reservation-price {
  font-family: Montserrat;
  font-weight: 700;
  padding: 5px 15px;
  background-color: tomato;
  color: white;
  width: fit-content;
}
.single-reservation-add-review {
  padding: 5px 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #8e8e8e;
  color: white;
  margin-right: 30px;
}
.single-reservation-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-review-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}
.add-review-form textarea {
  width: 100%;
  height: 90px;
  outline: none;
  padding: 5px;
  resize: none;
}
.add-review-form > div {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}
.add-review-form > div > div {
  display: flex;
  align-items: center;
  font-family: Poppins;
}
.add-review-form > div > button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  font-family: Poppins;
  font-size: 19px;
  padding: 5px 10px;

  border-radius: 10px;
  outline: none;
  border: none;
}
.stars-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.stars-container > div {
  display: flex;
  align-items: center;
}
.successfully-added {
  color: green;
}
