.reservation-form {
  display: flex;
  flex-direction: column;

  height: 460px;
  width: 354px;

  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.reservation-room-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
  height: fit-content;

  margin-bottom: 24px;
}
.reservation-room-info > div {
  display: flex;
  gap: 5px;
  align-items: flex-end;

  height: 100%;

  color: #222222;
}
.night-price {
  font-size: 22px;
  font-family: Montserrat;
  font-weight: 600;
}
.text-night {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
}
.star-icon {
  display: flex;
  align-items: flex-end;

  padding-bottom: 1px;
}
.reserve-review-percentage {
  font-family: Montserrat;
  font-size: 14px;
}
.reserve-button {
  display: flex;
  align-items: flex-end;
  border: none;

  background-color: transparent;

  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: #717171;
  cursor: pointer;

  margin-bottom: -1.5px;

  text-decoration: underline;
  margin-left: 2px;
}

.reserve-form-input-unit {
  display: flex;
  flex-direction: column;
  gap: 1px;

  border-radius: 8px;
  border: 1px solid #b0b0b0;

  padding-bottom: 10px;

  height: 112px;
  width: 100%;
}
.reserve-form-input-unit > div {
  height: 50%;
  position: relative;
  padding: 26px 12px 0px;
  border: none;
  border-radius: 8px;
}

.reserve-form-input-unit > div > input {
  height: 100%;
  width: 100%;

  border: none;
  border-radius: 8px;

  outline: none;
}
.reserve-form-input-unit > div > span {
  position: absolute;
  margin-top: -15px;

  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
}
.reservation-last-child {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: 1px solid rgb(221, 221, 221) !important;
  margin-top: 4px;
}
.reserve-submit {
  height: 48px !important;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;

  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  ) !important;
}
.reservation-cost-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 24px;
  width: 100%;
  height: 50px;
}
.reservation-cost-info > div {
  font-family: Poppins;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reservation-cost-info > div > span {
  font-family: Poppins;
  text-decoration: underline;
}
.break-line {
  margin-top: 35px;
  margin-bottom: 35px;
  border: none;
  height: 0.5px;
  background-color: rgb(179, 178, 178);
}
.total-reservation-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: Poppins;
  font-size: 20px;
}
