section {
  height: 100vh;
  width: 100vw;
  position: relative;
  inset: 0;
  background-color: white;
}
section main {
  min-height: 560px;
  max-height: fit-content;
  width: 473px;
  padding: 48px;
  inset: 0;
  position: absolute;
  margin: auto;
  border: 1px solid #bdbdbd;
  border-radius: 24px;
}

.account-form-logo {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  color: var(--post-profile-name);
  gap: 5px;
}

main h2 {
  font-family: Noto Sans;
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
  margin-top: 50px;
}

.account-info-form {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  gap: 14px;
}

.input-wrapper {
  width: 100%;
  height: 48px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0px 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-wrapper input {
  border: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
}

.account-info-form input[type="submit"] {
  border: none;
  cursor: pointer;
  color: white;
  padding: 0px;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  ) !important;
  border-radius: 8px;
  height: 38px;
  font-family: Noto Sans;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.register-if-dont-have-acc {
  margin-top: 30px;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 14px;
  color: #828282;
}

.continue {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 14px;
  color: #828282;
  gap: 5px;
}

.social-media-icons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media-icon {
  height: 42px;
  width: 42px;
  border: 1px solid #828282;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.register-if-dont-have-acc strong {
  font-weight: lighter;
  color: rgb(230, 30, 77);
  cursor: pointer;
}

.personal-info {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafb;
}

.personal-info header {
  background-color: transparent;
  padding: 30px 70px;
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.personal-info h2 {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin-top: 300px;
}

.personal-info p {
  font-family: "Noto Sans";
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.personal-info main {
  /* height: 580px; */
  width: 845px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
}

.info {
  height: 114px;
  border-bottom: 1px solid #d3d3d3;
  padding: 28px 49px;
}

.info * {
  margin: 0px;
}

.info h3 {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.info p {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #828282;
}

.user-info label {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #bdbdbd;
  width: 50%;
}

.user-info span {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #bdbdbd;
  width: 50%;
}

.user-info span input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: -0.035em;

  color: #333333;
}

.user-info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 49px;
  border-bottom: 1px solid #e0e0e0;
}
.last-child {
  border-bottom: none;
}
.finish-registration-button {
  margin-top: 30px;
  border: none;
  cursor: pointer;
  color: white;
  padding: 5px 30px;
  background: #2f80ed;
  border-radius: 8px;
  height: 50px;
  font-family: Noto Sans;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
}
.finish-button-wrapper {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
