.single-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 7rem;
  /* margin: 0px 75px 0 75px; */
  width: 100%;
}

.desc-comment-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.desc-comment-container > div {
  width: 745px;
}
.comments {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

.comment-user {
  margin-bottom: 20px;
  margin-right: 5px;
}

.user {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.username {
  margin-left: 12px;
  font-family: Mulish, sans-serif;
}

.date {
  color: #717171;
  font-size: 14px;
  line-height: 20px;
}

.photo-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(221, 221, 221);
}

.img {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  min-height: 1px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.img img {
  object-fit: cover;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  position: static;
}

.comment {
  line-height: 24px;
  text-align: left;
  font-family: Montserrat, sans-serif;
  word-break: break-all;
}

.save-button {
  margin-top: 0px;
  display: flex;
  gap: 7px;
  align-items: center;
  height: 34px;
  width: fit-content;
  text-decoration: underline;
  font-family: Montserrat;
  color: #222222;
  cursor: pointer;
  border-radius: 8px;
}
.save-button > svg {
  margin-bottom: -1.5px;
  height: 20px !important;
  width: 20px !important;
}
.save-button:hover {
  background-color: aliceblue;
}
.desc-comment-container > div {
}
